<form>

  <div class="form-group">
    <label for="lyric">LETRA</label>
    <textarea placeholder="Digite ou cole a letra aqui" required></textarea>
  </div>

  <div class="form-group">
    <label for="language">IDIOMA</label>
    <input type="text" placeholder="Selecione o idioma principal da letra" required>
  </div>

  <div class="form-group">
    <label for="composition">COMPOSIÇÃO</label>
    <input type="text" placeholder="Quem compôs essa música?" required>
  </div>

  <input type="submit" value="Enviar">

</form>
